[orchestrator]

# listen = IP to listen on
listen = 0.0.0.0

# port = Port to listen on
port = 8089

# testcase_path = path to a directory, where test cases are stored
testcase_path = ./test_cases

# schema_path = path to a json schema to validate the config against
schema_path = ./modules/test_orchestrator/testcase.schema

# os_proxy_endpoint = URL where the OS proxy is running to perform test cases
os_proxy_endpoint = http://localhost:8090/api/qos